body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(110, 127, 129);
}

section{
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    background-color: rgb(19, 45, 61);
}

.container-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#gridContainer {
    background-color: #fff;
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid black;
}


.square{
    width: auto;
    height: auto;
}

.square16{
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}

.square32{
    grid-template-columns: repeat(32,1fr);
    grid-template-rows: repeat(32,1fr);
}

.square64{
    grid-template-columns: repeat(64,1fr);
    grid-template-rows: repeat(64,1fr);
}

.btnContainer {
    margin-top: 10px;
}

#clear-btn:hover {
    background-color: rgb(231, 75, 75);
    transition: 0.1s;
}


button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

button:hover{
    background-color: rgb(22, 54, 58);
    transition: 0.1s;
}

select{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

p{
    font-size: 22px;
    font-weight: bold;
}





